doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/bootstrap.css", rel="stylesheet", type="text/css")
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500,700", rel="stylesheet", type="text/css")
  body
    header
      .container
        .text-center
          .header-content
            img(src= "images/Groupe__.png")
            h1 Connect with developpers, designers & other tech lovers.
            h2 Debug,discuss & learn.
            .information
            form(method="POST", action="/invite")#join-form.form
              input(type="email", name="email",class="form-control", autofocus, placeholder="#{__('ENTER_EMAIL')}")#slack-email.field
              if tokenRequired
                input(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")#slack-token.field
              input(type="submit",class="form-control", value="Send").submit
              if !!recaptchaSiteKey
                div(class="g-recaptcha", data-sitekey="#{recaptchaSiteKey}")
                    if !!recaptchaSiteKey
                       script(src='https://www.google.com/recaptcha/api.js')
                    script.
                      var tokenRequired = #{tokenRequired};
                      var form = document.getElementById('join-form');
                      var email = document.getElementById('slack-email');
                      var token = document.getElementById('slack-token');
                      form.addEventListener('submit', function(evt) {
                        if (!email.value) {
                          evt.preventDefault();
                        }
                        if (tokenRequired && !token.value) {
                          evt.preventDefault();
                        }
                      });

            p Join our slack community & discover a new way of work.We Are Tech Community is totally free for technologists :)
    #middle
      .container.text-center
          h1 What people think
            span Share your testimonial
              a(href="#") with us
          .row
            .testimonials
              .col-md-4
                .testimonial.text-left
                  p Allowing for field strengths areand ceramic! Magnets, but these are also among
                  div
                    img(src="images/Photo.png") 
                    p
                      span Creator at
                        a(href="#") adobe
                      span jungo Dungo
              .col-md-4
                .testimonial.text-left
                  p Materials but, their intense field are smaller and cheaper in many application
                  div
                    img(src="images/Photo2.png") 
                    p
                      span Manager at
                        a(href="#") invision
                      span David Rusky
              .col-md-4
                .testimonial.text-left
                  p the magnetic field the electromagnet are proportional
                  div
                    img(src="images/Photo3.png") 
                    p
                      span Chief at
                        a(href="#") Autodesk
                      span Husky pony
    #last
      .container
        .row.text-center
          h1 What do 
            img(src="images/WeAreTech.png") 
             span people do ?
          .links
            .col-md-3.text-left
              h3 Engineering
              ul
                li
                  a(href="#") Back-end
                li
                  a(href="#") front-end
                li
                  a(href="#") Qualité assurance
            .col-md-3.text-left
              h3 Datascience
              ul
                li
                  a(href="#") Machine Learning
                li
                  a(href="#") Chat bot
                li
                  a(href="#") Artificial intelegence
                li
                  a(href="#") Big data
                