doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title We Are Tech Community - Join the new Slack community of tech lovers
    link(href="css/bootstrap.css", rel="stylesheet", type="text/css")
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500,700", rel="stylesheet", type="text/css")
  body
    header
      .container
        .text-center
          .header-content
            img(src= "images/Groupe__.png")
            h1 Connect with developpers, designers & other tech lovers.
            h2 Debug,discuss & learn.
            .information
            form(method="POST", action="/invite")#join-form.form
              input(type="email", name="email",class="form-control", autofocus, placeholder="#{__('ENTER_EMAIL')}")#slack-email.field
              if tokenRequired
                input(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")#slack-token.field
              input(type="submit",class="form-control", value="Send").submit
              div
                script.
                      var tokenRequired = #{tokenRequired};
                      var form = document.getElementById('join-form');
                      var email = document.getElementById('slack-email');
                      var token = document.getElementById('slack-token');
                      form.addEventListener('submit', function(evt) {
                        if (!email.value) {
                          evt.preventDefault();
                        }
                        if (tokenRequired && !token.value) {
                          evt.preventDefault();
                        }
                      });
            h2(class="#{isFailed?'error':''}") !{message}
            p Join our slack community & discover a new way of work.We Are Tech Community is totally free for technologists :)
    #middle
      .container.text-center
          h1 What people think
            span Share your testimonial 
              a(href="https://www.facebook.com/wearetechcommunity/")  with us
          .row
            .testimonials
              .col-md-4.col-sm-4
                .testimonial.text-left
                  p Never work alone again ! WAT is friendly, fun & totally pro ! Love that !
                  div
                    img(src="images/Photo.png") 
                    p
                      span Founder @
                        a(href="#") Brozr
                      span Thibaut Gallice
              .col-md-4.col-sm-4
                .testimonial.text-left
                  p As a remote tech worker, it's pretty simple here to get an advice, debug your code or just laught :)
                  div
                    img(src="images/Photo2.png") 
                    p
                      span  QA Engineer @ 
                        a(href="#") Writermates  
                      span John Revy 
              .col-md-4.col-sm-4
                .testimonial.text-left
                  p We are all tech lovers there ! Join us and bring your smile ! You will no regret :)
                  div
                    img(src="images/Photo3.png") 
                    p
                      span UX Designer @
                        a(href="#") Pathwings 
                      span Nicolas Garty
    #last
      .container
        .row.text-center
          h1 What do 
            img(src="images/WeAreTech.png") 
            span people do ?
          .links
            .col-md-3.text-left.col-sm-3
              h3 Engineering
              ul
                li
                  a Back-end
                li
                  a Front-end
                li
                  a Quality Assurance
                li
                  a Full Stack dev
            .col-md-3.text-left.col-sm-3
              h3 Datascience
              ul
                li
                  a Machine Learning
                li
                  a Chat bot
                li
                  a Artificial intelegence
                li
                  a Big data
            .col-md-3.text-left.col-sm-3
              h3 Creative
              ul
                li
                  a User experience
                li
                  a User interface
                li
                  a Prototyping
                li
                  a Web design
            .col-md-3.text-left.col-sm-3
              h3 Business
              ul
                li
                  a Founder
                li
                  a Human ressources
                li
                  a Product manager
                li
                  a Marketing
    footer
      .container
        .row.text-center
          img(src="images/Groupe__.png")
          p WeAreTech Community ©